#home-wrap {
    width: min(85%, 800px);
}

#home-box {
    width: 100%;
    height: 100%;
    transition: opacity 200ms;
    opacity: 1;
    position: absolute;
}

.hidden {
    opacity: 0 !important;
}

#home-title {
    font-size: 48px;
}

#home-wrap button {
    width: 100%;
}

#no-plans-text {
    color: #aaaaaa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 100%;
    text-align: center;
}

#home-title {
    margin: 0;
    user-select: none;
}

#courseplan-list {
    margin: 24px 0;
    user-select: none;
    min-height: 60px;
    position: relative;
}


#create-box {
    height: min(90%, 750px);
    width: calc(min(90vw, 500px) + 32px);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#create-wrap {
    width: 3000px;
    height: 100%;
    position: absolute;
    transition: left 400ms;
    left: 0px;
}

@keyframes section-in {
    0% {
        opacity: 0;
        transform: translateY(800px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.create-section {
    width: min(90vw, 500px);
    height: 100%;

    display: flex;
    float: left;
    margin: 0 16px;
    position: relative;
    overflow: hidden;

    box-sizing: border-box;
    padding: 16px;

    align-items:flex-end;

    flex-direction: column;

    opacity: 0;
}

.section-in {
    animation: section-in 400ms cubic-bezier(.37,1.34,.75,1);
    opacity: 1 !important;
}

.create-section h1 {
    margin-top: 0px;
    transition: color 300ms;
    user-select: none;
}

.create-back-forward {
    bottom: 0;
    width: 100%;
}

.create-section-interaction-area {
    flex-grow: 1;
    overflow: hidden;
}

.round-box {
    background-color: rgb(38, 38, 38);
    border-radius: 24px;
    flex-grow:1;
    width: 100%;

    position: relative;

    display: flex;
    flex-direction: column;

    padding: 24px;
    box-sizing: border-box;

    overflow-y: auto;
}

.forward-button {
    float: right;
}

.section-disabled {
    color: #848484;
    pointer-events: none;
    filter: grayscale(0.6);
}
.section-disabled h1 {
    color: #848484;
}

.vertical-flex-grow-last {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.full-height {
    height: 100%;
}

.create-wrap-wide {
    width: 100%;
    height: 100%;
}

.vertical-flex-grow-last:last-child {
    flex-grow: 1;
}

.no-overflow {
    overflow: hidden;
}

.overflow-no-scroll {
    -ms-overflow-style: none; /* Edge, Internet Explorer */
    scrollbar-width: none; /* Firefox */
    overflow-y: scroll;
}

.overflow-no-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.major-minor-selector {
    height: 100%;
    margin: 16px 0;
}

/* Custom ratio button */
.container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: flex;

    padding: 16px 44px 16px 16px;
    background-color: #00000020;
    border-radius: 12px;
}
  
/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radiobox {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background-color: #ffffff20;
    border-radius: 50%;
}

.checkbox {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background-color: #ffffff20;
    border-radius: 4px;
}
/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #1076e8;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

@media (max-width: 500px) {
    #home-title {
        font-size: 36px;
    }
}

@media (max-height: 720px) {
    #home-title {
        font-size: 36px;
    }
    .create-section h1 {
        font-size: 24px;
    }
}